<h1>{{title}}</h1>
<p>Users</p>

<a href="/users/new" class="btn btn-primary">New</a>
<br/>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    {{#each users}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.age}}</td>
            <td>
                <a href="/users/edit/{{this._id}}">Edi</a>
                <a href="/users/delete/{{this._id}}">Delete</a>
            </td>
            <!--property value here-->
        </tr>
    </tbody>
    {{/each}}
</table>